#navegação_menu{
    position: absolute;
    top: 1%;
    right: 1%;
}

#caixa_icone_menu{
    background-color: brown;
    width: 5vw;
    height: 5vw;
}
#barra1{

}
#barra2{

}
#barra3{

}


#lista_menu{
    visibility: hidden;   
}